@(year: Int, month:String, expenses: Map[String,Double], total: Double)

@views.html.main("Maandelijkse samenvatting") {
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Maandoverzicht @month @year
                <small>Totaal: &euro; @total</small></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                @for(category <- expenses) {
                    <tr>
                        <td>@category._1</td>
                        <td class="text-right">&euro; @category._2</td>
                    </tr>
                }
                    <tr>
                        <td colspan="2" class="text-right">&euro; @total</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
}